.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
}

.roulette-container {
    position: relative;
}

.roulette-wheel {
    width: 300px;
    height: 300px;
    /*background-image: url("../public/img/감-항아리.png");*/
    background-size: cover;
    border-radius: 50%;
    transition: transform 1s ease-out;
}

.spin-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.roulette-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-img {
    width: 100px;
    height: 100px;
    background-size: contain;
}

.result-name {
    margin-top: 10px;
    font-size: 18px;
    color: #ffffff;
}

.results-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 550px;
    margin: 0 auto 20px;
}

.result-item {
    flex: 0 0 20%;
    text-align: center;
}

@media (max-width: 767px) {
    .results-container {
        flex-wrap: wrap;
    }

    .result-item {
        flex-basis: 50%;
    }
}
